@page
@model Coding_Coalition_Project.Pages.ViewAssignments.ViewAssignmentsModel

@{
    ViewData["Title"] = "ViewAssignments";
    Layout = "~/Pages/Shared/_Navbar.cshtml";
}

<h1>ViewAssignments</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].AssignmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].MaxPoints)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Assignments)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPoints)
            </td>
            <td>
                <a asp-page="./AssignmentDesc" asp-route-id="@item.AssignmentID">View</a>
            </td>
        </tr>
        }
    </tbody>
</table>
