@page
@model Coding_Coalition_Project.Pages.ViewAssignments.ViewAssignmentsModel

@{
    ViewData["Title"] = "ViewAssignments";
    Layout = "~/Pages/Shared/_Navbar.cshtml";
}

<h1>ViewAssignments</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].AssignmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].DueDate)
            </th>
            @if (Model.GetIsInstructor() == 0)
            {
                <th>
                    @Html.DisplayNameFor(model => model.submitAssignments[0].Points)
                </th>
}
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].MaxPoints)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Assignments.Count(); i++)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Assignments[i].AssignmentName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model.Assignments[i].DueDate)
            </td>
            @if (Model.GetIsInstructor() == 0)
            {
                <td>
                    @Html.DisplayFor(modelItem => modelItem.userPoints[i])
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => Model.Assignments[i].MaxPoints)
            </td>

            <td>
                <a asp-page="./AssignmentDesc" asp-route-id="@Model.Assignments[i].AssignmentID">Submit</a>
            </td>
            <td>
                <a asp-page="./CompareGrade" asp-route-id="@Model.Assignments[i].AssignmentID">Compare Grade</a>
            </td>

        </tr>
        }
    </tbody>
    <td>Final Grade: @Model.getScore() Out of @Model.getPossibleScore()</td>
</table>
