@page
@model Coding_Coalition_Project.Pages.MainPage.MainPageModel
@{
    Layout = "~/Pages/Shared/_Navbar.cshtml";
}

@{
    ViewData["Title"] = "MainPage";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #333333;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
        .sidenav {
            background-color: #f1f1f1;
            float: right;
            height: 100%;
        }

        /* Style the cards */
        .classCard {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
            padding: 10px;
            text-align: center;
            background-color: #a9bcdb;
            width: 18rem;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
            padding: 16px;
            text-align: center;
            background-color: #d2d4d6;
        }


        /* Style for notifications */
        .notif {
            width: 20%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
            @*padding: 16px;*@
            text-align: center;
            background-color: #f1f1f1;
            @*position: absolute;*@
           @* top: 200px;*@
            right: 0;
        }
        /* Style for announcements */
        .announce {
            width: 20%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
            @*padding: 16px;*@
            text-align: center;
            background-color: #f1f1f1;
            @*position: absolute;*@
            @*top: 600px;*@
            right: 0;
        }

    </style>
</head>
<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Welcome @Model.UserInfo.FirstName</div>
            <div class="list-group list-group-flush">
                <a href="../Profile/Profile" class="list-group-item list-group-item-action bg-light">Profile</a>
                <a href="../UserCourses/UserCourses" class="list-group-item list-group-item-action bg-light">Classes</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Mail</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Settings</a>
                <a href="../Account/AccountBalance" class="list-group-item list-group-item-action bg-light">A/C Balance</a>
                <a href="../RegisterClasses/RegisterClasses" class="list-group-item list-group-item-action bg-light">Register for Courses</a>

                @if (Model.GetIsInstructor() == 1)
                {
                    <a href="../AddClass/AddClass" class=" classHide list-group-item list-group-item-action bg-light">Add Class</a>
                }

            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Menu</button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <h3 style=" float: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">My Courses</h3>
            </nav>

            <div class="container-fluid">
               
                <div class="row">
                    <div class="col-8">
                        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                           <img class="card-img-top" src="~/images/blog-img4.jpg" alt="Card image cap">
                            <div class="card-body">
                                @foreach (var row in Model.userCourses)
                                {

                                    <a href="../Course/Course/@row.CourseName/@row.CourseNumber" @RouteData.Values[@row.CourseName] @RouteData.Values[@row.CourseNumber.ToString()] style=" text-decoration: none; color: white;">

                                        @row.CourseName<br>@row.CourseNumber
                                    </a>

                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="sidenav" style="float:right;">
                            <h4>Notifications</h4>

                            @foreach (var row in Model.userAssignments)
                            {
                                <div class="card" style="width: 18rem;">@row.AssignmentName</div>
                            }

                            <h4>Announcements</h4>
                            @foreach (var row in Model.userAnnouncements)
                            {
                                <div class="card" style="width: 18rem;">
                                    <a href="../AnnouncementsPage/Announcements/@row.AnnouncementID">@row.AnnouncementTitle</a>
                                </div>

                            }

                        </div>

                    </div>
                </div>
            </div>
        </div>     
        <!-- /#page-content-wrapper -->
    </div>

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>
</html>